* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #4d4f62;
  --var-borderColorRed: #ea5454;
  --var-borderColorCyia: #44d3d2;
  --var-borderColorOrange: #fcae4a;
  --var-borderColorBlue: #549ef2;
}
html {
  font-size: 10px;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.first_h2 {
  font-weight: 200;
}
.second_h2 {
  font-weight: 600;
}
.headerParagraph {
  width: 540px;
  height: 50px;
  font-size: 15px;
  margin-top: 16px;
  color: var(--main-color);
}
.main-container {
  display: grid;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  header {
    margin: 80px 0px 64px 0px;
  }
  header h2 {
    font-size: 3.6rem;
  }
  .main-container {
    width: 1140px;
    height: 530px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
  }
  .main-container div {
    width: 350px;
    height: 250px;
    border-radius: 8px;
    background-color: white;
    position: relative;
  }
  .main-container div p {
    margin-left: 32px;
    color: var(--main-color);
  }
  .main-container div img {
    position: absolute;
    right: 32px;
    bottom: 32px;
  }
  .div-header {
    margin-top: 32px;
    font-size: 2rem;
    font-weight: 600;
  }
  .lowerText {
    width: 286px;
    height: 46px;
    font-size: 1.3rem;
    margin-top: 6px;
  }
  .Superviserdiv {
    grid-column: 1;
    grid-row: 2/4;
    border-top: 4px solid var(--var-borderColorCyia);
  }
  .Teambuilderdiv {
    grid-row: 1;
    grid-column: 2;
    border-top: 4px solid var(--var-borderColorRed);
  }
  .Karmadiv {
    grid-row: 4;
    grid-column: 2;
    border-top: 4px solid var(--var-borderColorOrange);
  }
  .calculator {
    grid-row: 2/4;
    grid-column: 3;
    border-top: 4px solid var(--var-borderColorBlue);
  }
}
@media screen and (max-width: 374) {
  header h2 {
    font-size: 1.8rem;
  }
  .main-container {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px 10px;
    justify-content: center;
  }
  .Superviserdiv {
    border-top: 4px solid var(--var-borderColorCyia);
  }

  .Teambuilderdiv {
    border-top: 4px solid var(--var-borderColorRed);
  }
  .Karmadiv {
    border-top: 4px solid var(--var-borderColorOrange);
  }
  .calculator {
    border-top: 4px solid var(--var-borderColorBlue);
  }
}
